<div id="container">

  <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [totalRecords]="data.length"
    [rowsPerPageOptions]="[5,10,20,30]" [loading]="loading" [rows]="5" [(selection)]="selected" [responsive]="true">
    <ng-template pTemplate="caption">
      {{name}}
      <button type="button" class="botones" pButton icon="pi pi-trash" (click)="eliminar()"></button>
      <button type="button" class="botones" pButton icon="pi pi-save" (click)="guardar()"></button>
      <button type="button" class="botones" pButton icon="pi pi-plus" (click)="agregar()"></button>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em" *ngIf="errorGuardar">

        </th>
        <th style="width: 3em" *ngIf="data.length != 0">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [style]="col.width"
          [pSortableColumn]="!col.field2 ? col.field : col.field +'.'+ col.field2">
          <p style="overflow: hidden;margin: 0px;">{{col.header}}
            <p-sortIcon [field]="!col.field2 ? col.field : col.field +'.'+ col.field2" ariaLabel="Ordenar"
              ariaLabelDesc="Ordenar Descendente" ariaLabelAsc="Ordenar Ascendente"></p-sortIcon>
          </p>

        </th>
      </tr>
      <tr>
        <th *ngIf="errorGuardar"></th>
        <th></th>
        <th *ngFor="let col of columns">
          <!--input pInputText type="text" style="width: 100%;"
            (input)="dt.filter($event.target.value, col.field, 'contains')"-->
          <input pInputText [type]="col.tipo || 'text'" *ngIf="col.field2 && !col.opciones" style="width: 100%;"
            (input)="dt.filter($event.target.value, col.field  +'.'+ col.field2, 'contains')" />
          <p-dropdown [options]="agregarVacio(col.opciones)" *ngIf="col.field2 && col.opciones"
            (onChange)="dt.filter($event.value, col.field  +'.'+ col.field2, 'contains')" [style]="{'width':'100%'}">
          </p-dropdown>

          <input pInputText type="text" style="width: 100%;" *ngIf="!col.field2 && !col.opciones"
            (input)="dt.filter($event.target.value, col.field, 'contains')" />
          <p-dropdown *ngIf="!col.field2 && col.opciones" (onChange)="dt.filter($event.value, col.field, 'contains')"
            [options]="agregarVacio(col.opciones)" [style]="{'width':'100%'}"></p-dropdown>

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [class.celda-modificada]="rowData['modificado']"
        [class.celda-error]="rowData['guardado'] === '0'" [class.celda-exito]="rowData['guardado'] === '1'">
        <td *ngIf="errorGuardar">


          <i class="pi pi-times" style="font-size: 1.7em; color: red;"
            (mouseenter)="seleccionarFila($event,rowData['error'],op2)" *ngIf="rowData['guardado'] === '0'"></i>
        </td>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td pEditableColumn *ngFor="let col of columns" [style]="col.width">
          <!--div class="celda-error" > Example </div-->

          <p-cellEditor>
            <ng-template pTemplate="input" *ngIf="col.field2">
              <input pInputText [type]="col.tipo || 'text'" [(ngModel)]="rowData[col.field][col.field2]"
                *ngIf="!col.opciones" (change)="modificado(rowData)" />
              <p-dropdown *ngIf="col.opciones" [options]="col.opciones" [(ngModel)]="rowData[col.field][col.field2]"
                [style]="{'width':'100%'}" (onChange)="modificado(rowData)"></p-dropdown>

            </ng-template>
            <ng-template pTemplate="output" *ngIf="col.field2">
              <div [ngStyle]="{'text-align': (!col.tipo || col.tipo === 'text') && !col.opciones ? 'left' : 'center'}"
                style="overflow: hidden;">
                {{ rowData[col.field][col.field2] }}
              </div>

            </ng-template>

            <ng-template pTemplate="input" *ngIf="!col.field2">
              <input pInputText type="text" [(ngModel)]="rowData[col.field]" *ngIf="!col.opciones"
                (change)="modificado(rowData)" />
              <p-dropdown *ngIf="col.opciones" [options]="col.opciones" [(ngModel)]="rowData[col.field]"
                [style]="{'width':'100%'}" (onChange)="modificado(rowData)"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output" *ngIf="!col.field2">
              <div [ngStyle]="{'text-align': (!col.tipo || col.tipo === 'text') && !col.opciones ? 'left' : 'center'}"
                style="overflow: hidden;">
                {{ rowData[col.field] }}
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 1" *ngIf="columns">
          Ningun dato encontrado
        </td>
      </tr>
    </ng-template>
  </p-table>


  <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="true">
    <b>{{ errorSeleccionado }}</b>
  </p-overlayPanel>


</div>

<!--p-paginator [rows]="10" [totalRecords]="this.data.length" [rowsPerPageOptions]="[10,20,30]"></p-paginator-->

<p-dialog header="Ingresar Parámetro General" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '300px'}">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Vin</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="vin" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Year</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="brand">Brand</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="brand" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">Color</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="color" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Cancelar"></button>
      <button type="button" pButton icon="pi pi-save" (click)="save()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>