<!--p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
<button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button-->

<p-panelMenu [model]="items" [transitionOptions]="'300ms'"
    [style]="{'width':'100%', 'text-align':'left', 'font-size':'10px', 'margin-top': '1px'}"></p-panelMenu>

<div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: 'true',
            backdropBackgroundColour: 'rgba(121,98,98,0.3)', backdropBorderRadius: '10px',
            primaryColour: '#ed1c24', secondaryColour: '#888 ', tertiaryColour: '#ed1c24' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>