<div class="p-grid sample-layout box-stretched">
    <div class="p-col-12 p-md-12" style="padding: 0px;max-height: 70px;border: 0px;">
        <app-header></app-header>
    </div>
    <div class="p-col-12 p-md-2 layout-h" style="border:1px solid #c8c8c8;background-color:#f1f1f1;border-left: none;BORDER-TOP: 2px solid #c8c8c8;">
        <app-menu></app-menu>
    </div>
    <div class="p-col-12 p-md-10  p-col-nogutter layout-h" style="height: 100%;border: 0px;background-color:transparent;">
        <app-principal></app-principal>
    </div>
    
</div>