<p-tabMenu [model]="general.tabs" [activeItem]="general.activeItem">
  <ng-template pTemplate="item" let-item let-i="index">
    
      <div style="position: relative; text-align: center; min-width: 10em" (click)="cargarOpcion(i)">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text">
          {{item.label}}
        </div>
        <a tabindex="0" class="ui-menuitem-icon" (click)="closeItem($event, i, item.queryParams.id)"
          style="position: absolute; right: -1em; top: -.5em; padding: 0" *ngIf="i !== 0">
          <span class="pi pi-times"></span>
          
        </a>
      </div>


  </ng-template>
</p-tabMenu>

<!--router-outlet></router-outlet-->

<ng-container #messagecontainer></ng-container>